@charset "UTF-8";

.main-header {
    display: flex;
    justify-content: flex-end;
    font-family: 'Arvo', serif;
}

.main-header_column {
    margin: 12px 15px;
    font-size: 13px;
}

.main-header_column2 {
	margin : 5px 8px;
    font-size: 13px;
    color: white;
}

.main-header_column3 {
	margin : 10px 13px;
    font-size: 13px;
    color: white;
}

.main-header_column a {
	text-decoration: none;
	color: white;
}

.logo {
}

.main-nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 170px;
}

.main-nav a {
	text-decoration: none;
	color: rgba(0,0,0,0.7);
	font-weight: 900;
}

.main-body {
	display: flex;
	justify-content: space-between;
}

.ad img {
    margin-top: 20px;
    width: 180px;
    height: 200px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.clicked-items {
	border: 2px solid white;
	width: 150px;
	height: 400px;
	position: fixed;
	right: 10px;
}

.clicked-items_text {
	margin: 5px 10px;
	color: white;
	font-size: 18px;
}

.space-between {
	display: flex;
	justify-content: space-between;
}

.form {
	display: flex;
	justify-content: flex-start;
}

.margin {
	margin: 0 10px 20px 10px;
}